@tailwind base;
@tailwind components;
@tailwind utilities;


.info-cotas {
    background-color: #cff4fc;
    color: #055160;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    display: inline-block;
    line-height: 1.2em;
    width: 100%;


    i {
      max-width: 20px;
      display: block;
      display: inline-block;
      align-content: end;
      height: fit-content;
      vertical-align: -.17em;
      margin-right: 5px;
    }
  }

  .info-cotas-2 {
    background-color: #ffe69c;
    color: #664d03;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 14px;
    display: inline-block;
    line-height: 1.2em;
    width: 100%;
    i {
      max-width: 20px;
      display: block;
      display: inline-block;
      align-content: end;
      height: fit-content;
      vertical-align: -.17em;
    }
  }

  .button-submit-form {
    width: 100%;
    background-color: #198754;
    display: flex;
    justify-content: center;
    gap: 5px;
    color: #fff;
    padding: 6px;
    border-radius: 6px;
    margin-top: 8px;
  position: relative;
    span {
      font-weight: 700;
      font-size: 14px;
      position: absolute;
      right: 13px;
    }

    svg {
      font-size: 20px;
    }
  }

  .quantidade {
    font-weight: 600;
  }